<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title '' %} {{app.msiof.siteName}}</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'></script>
	 <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-cookies.min.js'></script>
    <script src='/js/moment.min.js'></script>
	 <script src='//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.8.0/angular-moment.min.js'></script>
	 <script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js'></script>
	 <script src='/js/ui-bootstrap.min.js'></script>
    <script src='/js/main.js'></script>
    <style type='text/css'>
		  .table-no-border>thead>tr>th, 
		  .table-no-border>tbody>tr>th, 
		  .table-no-border>tfoot>tr>th, 
		  .table-no-border>thead>tr>td, 
		  .table-no-border>tbody>tr>td, 
		  .table-no-border>tfoot>tr>td {
					   border-top: none; 
		  }
    </style>
</head>
<body>
{% block nav %}
<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
					 <!-- Brand and toggle get grouped for better mobile display -->
					 <div class="navbar-header">
								<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>Home</a>
								{% if (app.user) and (app.msiof.paymentEnabled) %}
								<form action="" method="POST">
								  <script
									 src="https://checkout.stripe.com/checkout.js" class="stripe-button"
									 data-key="pk_test_2bpghGfYvZb4cS2rYIhpcC31"
									 data-amount="2000"
									 data-name="Unlimited MSIOF"
									 data-description="Unlimited (&pound; 20/month)"
									 data-image="/128x128.png"
								    data-currency="GBP"
								    data-allowrememberme="false"
								    data-email="{{ app.user.email }}"
								    >
								  </script>
								</form>
								{% endif %}
					 </div>

					 <div>
								<ul class="nav navbar-nav navbar-right">
										  {% if app.user %}
													 <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
													 <li><a href="{{ path('user.logout') }}"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
										  {% else %}
													 {% if app.msiof.registrationEnabled %}
																<li><a href="{{ path('user.login') }}">Sign in</a></li>
																<li><a href="{{ path('user.register') }}">Create account</a></li>
													 {% endif %}
										  {% endif %}
								</ul>
					 </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

<div class='container-fluid'>
{% if app.session.flashbag.has('alert') %}
{% for flashMessage in app.session.flashbag.get('alert') %}
	 <div class="alert alert-info">{{ flashMessage }}</div>
{% endfor %}
{% endif %}

{% block content %}{% endblock %}
<div class="clearfix"></div>
<hr>
<a href='https://github.com/theahindle/msiof'>Clone on Github.com</a>
</div>
</body>
</html>
