<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title '' %} MyServerIsOnFire.com</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
    <script src='/js/moment.min.js'></script>
	 <script src='//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.8.0/angular-moment.min.js'></script>
	 <script src='/js/ui-bootstrap.min.js'></script>
    <script src='/js/main.js'></script>
    <style type='text/css'>
		  .table-no-border>thead>tr>th, 
		  .table-no-border>tbody>tr>th, 
		  .table-no-border>tfoot>tr>th, 
		  .table-no-border>thead>tr>td, 
		  .table-no-border>tbody>tr>td, 
		  .table-no-border>tfoot>tr>td {
					   border-top: none; 
		  }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
					 <!-- Brand and toggle get grouped for better mobile display -->
					 <div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										  <span class="sr-only">Toggle navigation</span>
										  <span class="icon-bar"></span>
										  <span class="icon-bar"></span>
										  <span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="/">Home</a>
					 </div>

					 <!-- Collect the nav links, forms, and other content for toggling -->
					 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
										  {% if app.user %}
													 <li dropdown>
													 <a href="#" class="dropdown-toggle dropdown-toggle">
																Hello, {{ app.user.displayName }}!
																<span class="caret"></span>
													 </a>
													 <ul class="dropdown-menu" role="menu">
																<li><a href="{{ path('user') }}"><span class="glyphicon glyphicon-user"></span> View your profile</a></li>
																<li><a href="{{ path('user.edit', { id: app.user.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edit your profile</a></li>
																<li><a href="{{ path('user.logout') }}"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
													 </ul>
													 </li>
										  {% else %}
													 <li><a href="{{ path('user.login') }}">Sign in</a></li>
													 <li><a href="{{ path('user.register') }}">Create account</a></li>
										  {% endif %}
								</ul>
					 </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
</nav>
<div class='container-fluid'>
{% if app.session.flashbag.has('alert') %}
{% for flashMessage in app.session.flashbag.get('alert') %}
	 <div class="alert alert-info">{{ flashMessage }}</div>
{% endfor %}
{% endif %}

{% block content %}{% endblock %}
</div>
</body>
</html>
